.mainContainer {
    display: block;
}

.mainTitle {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100.5%;
    text-align: left;
    color: black;
    padding-top: 10rem;
    padding-left: 13rem;
}

.subTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: black;
    padding-left: 13rem;
}

.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;
}

.imageLeft {
    margin-right: 10%;
    margin-left: 0;
}

.imageRight {
    margin-left: 10%;
    margin-right: 0;
}

.blackContainer {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    padding-bottom: 6rem;
}

.teamSection {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #212121;
    padding-top: 4rem;
    padding-left: 15rem;
}

.twoBlockStyle {
    display: flex;
    height: min-content;
}

.teamSectionTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #fbfbfb
}

.teamSectionSubTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #fbfbfb;
    text-align: center;
}

.teamSectionHeader {
    display: inline-block; /* This envelopes the skill set of the team and the title of the team */
    width: max-content;
    padding-left: 15rem;
}

.teamSectionSkillsContainer {
    display: flex;
    border-bottom: 2px solid #fbfbfb;
    align-content: center;
    align-items: center;
    width: 32rem;
    white-space: nowrap;
}

.teamSectionSkillsContainerDesc {
    display: flex;
    align-content: center;
    align-items: center;
    width: 40rem;
    word-break: keep-all;
}

.teamSectionSkillsText {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fbfbfb;
    padding-right: 4em;
}

.teamSectionSkillsSubText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #CCCCCC;
    white-space: nowrap;
}

.teamSectionMemberHeader {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    padding-left: 5%;
    color: #fbfbfb;
}

.teamSectionMemberContainer {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonDiv {
    margin-right: 1rem;
}

.buttonContainerActive {
    border: 2px solid #212121;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #fbfbfb;
}

.buttonContainerInactive {
    border: 2px solid #fbfbfb;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #212121;
}

.buttonTextInactive {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #fbfbfb; 
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.buttonTextActive {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212121; 
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.operationContainer {
    display: block;
    flex-direction: row;
    padding-left: 10rem;
    height: auto;
}

.operationOuterBox {
    display: flex;
}

.operationTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #fbfbfb;
    width: 15rem; /* Using REM instead of % makes the div box the same width regardless of the text */
    white-space: pre-wrap; /* This causes \n to occur in the string in the list of operations */
}

.operationDesc {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    width: auto;
    color: #CCCCCC;
    white-space: pre-wrap; /* This causes \n to occur in the string in the list of operations */
}

.lineDivider {
    /* "Kian's Age" black */
    width: 90%;
    margin-left: 5%;
    height: 0px;
    border: 2px solid #CCCCCC;
    margin-top: 3%;
}

.teamCultureSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.outerSlideContainer {
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.innerSlideContainer{
    left: -100%;
    position: absolute;
    overflow: hidden;
    animation: slide 9s linear infinite;
}

.teamCultureTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 200px;
    color: #212121;
    padding-bottom: 0px;
    margin-top: 0rem;
}

.teamCultureHeader {
    width: 15em;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    white-space: nowrap; /* This gets rid of the white space of h1, h2, and other h# */
    margin-right: 15rem;
    padding-top: 0em;

    color: #212121;
}

.teamCultureNumber {
    width: 2em;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    white-space: nowrap; /* This gets rid of the white space of h1, h2, and other h# */
    margin-right: 4em;

    color: #212121;
}

.teamCultureCard {
    display: flex;
    align-items: center; /* Requires display: flex and it will move all the elements to the middle horizontally */
    width: min-content;
    margin-top: 2em;
    margin-bottom: 2em;
}

.teamCultureDesc {

    width: 23em;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    color: #212121;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(400%, 0, 0);
    }
}