.mainContainer {
    display: block;
}

.mainTitle {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100.5%;
    text-align: center;
    color: black;
    padding-top: 12rem;
}

.subTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin-bottom: 10em;
}

.teamSection {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    margin-left: 10%;
    width: 80%;
    border-bottom: 2px solid #212121;
}

.teamSectionTitleContainer {
    display: block;
    justify-content: center;
}

.teamSectionTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: black;
    margin-bottom: 0em;
}

.teamSectionSubTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
    text-align: center;
}

.teamSectionHeader {
    display: flex; /* This envelopes the skill set of the team and the title of the team */
    flex: 1;
    padding-left: 15em;
    justify-content: center;
}

.teamSectionSkillsContainer {
    flex: 0.6; /* The border-bottom line is adjusted by this. */
    margin-top: 1em;
    margin-left: 6em;
}

.teamSectionSkillsText {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    padding-left: 2em;
    padding-bottom: 1.5em;
    border-bottom: 2px solid #212121;
}

.teamSectionMemberHeader {
    padding-top: 5em;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #212121;
}

.teamSectionMemberContainer {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonContainerActive {
    border: 2px solid #212121;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #212121;
}

.buttonContainerInactive {
    border: 2px solid #212121;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #fbfbfb;
}

.buttonTextInactive {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #212121; 
}

.buttonTextActive {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #fbfbfb; 
}

.operationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 18%;
    padding-right: 18%;
}

.operationOuterBox {
    width: 16%;
}

.operationBox {
    display: flex;
    flex-direction: row;
    width: 15em;
    height: 50%;
}

.operationTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    width: 40em;
    align-self: center;
    padding-left: 0.5em;
}

.operationOrderNumber {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    display: flex;
    align-items: center;
    color: #212121;
    padding-left: 1em;
    padding-right: 0.5em;
    border-right: 2px solid #212121;
}

.operationDesc {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #212121;
}