.mainContainer {
    display: block;
}

.mainTitle {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100.5%;
    text-align: left;
    color: black;
    padding-top: 10rem;
    padding-left: 13rem;
}

.subTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: black;
    padding-left: 13rem;
}

.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageLeft {
    margin-right: 10%;
    margin-left: 0;
}

.imageRight {
    margin-left: 10%;
    margin-right: 0;
}

.blackContainer {
    background-color: #212121;
}

.teamSection {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #212121;
    padding-top: 4rem;
    padding-left: 15rem;
}

.twoBlockStyle {
    display: flex;
}

.teamSectionTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #fbfbfb
}

.teamSectionSubTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #fbfbfb;
    text-align: center;
}

.teamSectionHeader {
    display: inline-block; /* This envelopes the skill set of the team and the title of the team */
    width: max-content;
    padding-left: 15rem;
}

.teamSectionSkillsContainer {
    display: flex;
    border-bottom: 2px solid #fbfbfb;
    align-content: center;
    align-items: center;
}

.teamSectionSkillsText {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fbfbfb;
    white-space: nowrap;
    padding-right: 4em;
}

.teamSectionSkillsSubText {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #CCCCCC;
    white-space: nowrap;
}

.teamSectionMemberHeader {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    padding-left: 5%;
    color: #fbfbfb;
}

.teamSectionMemberContainer {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonContainerActive {
    border: 2px solid #212121;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #fbfbfb;
}

.buttonContainerInactive {
    border: 2px solid #fbfbfb;
    border-radius: 40px;
    width: fit-content;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #212121;
}

.buttonTextInactive {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fbfbfb; 
}

.buttonTextActive {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #212121; 
}

.operationContainer {
    display: block;
    flex-direction: row;
    padding-left: 10%;
}

.operationOuterBox {
    display: flex;
    align-items: center;
}

.operationTitle {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #fbfbfb;
}

.operationDesc {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #CCCCCC;
}

.lineDivider {
    /* "Kian's Age" black */
    width: 90%;
    margin-left: 5%;
    height: 0px;
    border: 2px solid #CCCCCC;
    margin-top: 3%;
}

.teamCultureSection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.teamCultureHeader {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap; /* This gets rid of the white space of h1, h2, and other h# */

    color: #fbfbfb;
}

.teamCultureCard {
    display: flex;
    flex-direction: column;
    align-items: center; /* Requires display: flex and it will move all the elements to the middle horizontally */
    border: 2px solid #212121;
    border-radius: 15px;
    width: min-content;
}

.teamCultureDesc {

    width: 15em;

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;

    color: #212121;
}