.container {
    height: fit-content;
    width: fit-content;
    padding: 18px 26px 18px 20px;
}

.nameText {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #fbfbfb;
}

.majorYearText {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #fbfbfb;
}