.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.contactForm {
    display: flex;
    flex-direction: row;
    width: 100vw;

}

.contactLeft {
    display: flex;
    flex-direction: column;
    width: 50vw;
    position: relative;
    justify-content: center;
    align-items: center;
}

.contactRight {
    width: 50vw;
    border-left: 1px solid #DEDFE4;
    position: relative;
    justify-content: center;
    align-items: center;
}
