.container {
    display: flex;
    height: 50vh;
    justify-content: center;
}

.contactUsContainer {
    margin-right: 6rem;
}

.visitUsContainer {
    margin-left: 4rem;
}

.headingText {
    font-style: normal;
    font-weight: 600;
    color: black;
}

.facultyCard {
    display: flex;
}