.projectsHeader {
    position: absolute;
    width: 500px;
    height: 61px;
    left: 96px;
}

.header {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    color: #212121;
}

.textContainer {
    position: relative;
    width: 803px;
    height: 291px;
    padding-top: 12%;
    padding-left: 35%;

}

.mainTextBox {
    position: relative;

    width: 803px;
    height: 152px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 76px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    bottom: 18%;
}

.subheaderBox {
    position: relative;

    width: 774px;
    height: 124px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #212121;
    flex: none;
    order: 1;
    flex-grow: 0;
    bottom: 30%;
    left: 1%;
}

.buttonBox {
    left: 48%;
    position: relative;
    padding-top: 20%;
}

.proposeButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 236px;
    height: 58px;

    background: #212121;
    border-radius: 30px;
}

.buttonText {
    width: 123px;
    height: 18px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FBFBFB;
    flex: none;
    order: 0;
    flex-grow: 0;
}