.main {
    width: 399px;
    height: 61px;
    left: calc(50% - 399px/2 - 235.5px);
    top: 340px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #212121;
    padding-top: 15%;
}

.container {
    display: flex;
    width: 100%;
    height: 800px;
    background-color: #d43a3a;
    padding-top: 3%;
    justify-content: center;
}

.frame {
    width: 1000px;
    height: 180px;
    gap: 20px;
    top: 306px;
    left: calc(50% - 399px/2 - 250px);
    overflow-y: scroll;
    overflow: hidden;
}

.carousel {
    position: relative;
    text-align: left;
    font-size: 48px;
    line-height: 61px;
    width: 1000px;
    height: 214px;
}

.carousel .change_outer {
    position: absolute;
    top: 0;
    left: 46%;
    text-align: left;
    height: 61px;
}

.carousel .change_outer .change_inner {
    position: relative;
    animation: scrollThrough 20s ease-in-out infinite;
}

.carousel .change_outer .element {
    display: block;
    font-weight: 700;
    color: #212121;

}
@keyframes scrollThrough {
    0%, 7.143%{
        transform: translateY(60px);
        transform: opacity(100%);
    }

    7.143%, 14.286% {
        transform: translateY(0px);
        transform: opacity(75%);
    }

    14.286%, 21.429% {
        transform: translateY(-60px);
        transform: opacity(50%);
    }

    21.429%, 28.572% {
        transform: translateY(calc(-60px * 2));
        transform: opacity(25%);
    }

    28.572%, 36.715% {
        transform: translateY(calc(-60px * 3));
        transform: opacity(0%);
    }

    36.715%, 42.858% {
        transform: translateY(calc(-60px * 4));
        transform: opacity(0%);
    }

    42.858%,  50.001% {
        transform: translateY(calc(-60px * 5));
        transform: opacity(0%);
    }

    50.001%, 57.144% {
        transform: translateY(calc(-60px * 6));
        transform: opacity(0%);
    }

    57.144%, 64.287% {
        transform: translateY(calc(-60px * 7));
        transform: opacity(0%);
    }

    64.287%, 71.43% {
        transform: translateY(calc(-60px * 8));
        transform: opacity(0%);
    }

    71.43%, 78.573% {
        transform: translateY(calc(-60px * 9));
        transform: opacity(0%);
    }

    78.573%, 85.716% {
        transform: translateY(calc(-60px * 10));
        transform: opacity(0%);
    }

    85.716%, 92.859% {
        transform: translateY(calc(-60px * 11));
        transform: opacity(0%);
    }

    92.859%, 100% {
        transform: translateY(calc(-60px * 11));
        transform: opacity(0%);
    }
}

.scrollWheel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    isolation: isolate;

    font-size: 60px;

    position: absolute;
    width: 556px;
    height: 214px;
    left: calc(50% + 200px/2);
    top: 264px;
    overflow-y: scroll;
    color: #212121;
}

.sub{
    position: absolute;
    width: 870px;
    height: 92px;
    left: calc(50% - 870px/2);
    top: 625px;

    /* Header 6 */

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    /* "Kian's Age" black */
    color: #212121;
}

.buttonJoin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;

    position: absolute;
    width: 242px;
    height: 58px;
    left: calc(50% - 242px/2);
    top: 825px;


    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FBFBFB;

    /* "Kian's Age" black */

    background: #212121;
    border-radius: 30px;
}