@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro';
  background-color: #ffffff;
  overflow-x: hidden; /* No horizontal scrolling */
}

Image {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  font-family: 'Be Vietnam Pro';
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'Be Vietnam Pro';
}

* {
  box-sizing: border-box;
}

/* Important: Always put your media queries at the end of your CSS file. */

@media (max-width: 900px) {
  body {
    font-size: 12px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255); /* This affects the menu titles such as 'Home' and 'About' */
    background: rgb(255, 255, 255); /* This is the background of the website */
  }
}
