.container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

}

.topSectionContainer {
  background-color: #F5F5F5;
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
  justify-content: center;
}

.pillarContainer {
  width: 100vw;
  height: 100vh;
  background-color: #E6E9EC;
  justify-content: center;
}

.projectsContainer {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
}

.homePageTitle {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100.5%;
  color: #212121;
  padding-top: 100px;
}

.homePageSubTitle {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-feature-settings: 'case' on;
  color: #212121;
}

.pillarMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pillarTitle {
  width: 345px;
  height: 61px;
  margin-top: 0px;
  padding-left: 96px;
  padding-top: 58px;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  color: #212121;
}

.pillarSubTitle {
  width: fit-content;
  height: 60px;
  padding-top: 10rem;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
}

.pillarContent {
  display: flex;
  flex-direction: row;
  padding-top: 75px;
}

.pillarBox {
  width: 320px;
  margin-right: 50px;
}

.pillarBoxTitle {
  border-left: 2px #333 solid;
  padding-left: 10px;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  line-height: 43px;
  color: #212121;
}

.pillarBoxSubTitle {
  width: 320px;
  height: 54px;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.joinButton {
  padding-left: 400px;
  padding-top: 20px;
}

.pastProjectsContainer {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
}

.projectsHeader {
  margin-top: 0px;
  padding-left: 96px;
  padding-top: 58px;
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 61px;
  display: flex;
  align-items: center;
  color: #212121;
}

.projectsTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  padding: 0px;
  gap: 15px;
  width: 803px;
  height: 291px;
  margin-left: 560px;
  margin-top: 150px;
}


.projectsBoxOne {
  width: 803px;
  height: 152px;
}

.projectsTextOne {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 76px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212121;
  margin-top: 0px;
}

.lineOne {
  position: relative;
  width: 258px;
  height: 0px;
  bottom: 35%;
  left: 62.3%;
  border: 4px solid #828282;
}

.lineTwo {
  position: relative;
  width: 10px;
  height: 0px;
  left: 99%;
  bottom: 43.1%;
  border: 4px solid #828282;
}

.projectsBoxTwo {
  width: 774px;
  height: 124px;
}

.projectsTextTwo {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212121;
}

.proposeButton {
  padding-left: 825px;
  padding-top: 70px;
}

/* NEW HOMEPAGE STYLES */
.homeSection1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homeBox1 {
  width: 650px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homeBox1Subtitle {
  padding-top: 10px;
}

.homeBox1Button {
  padding-top: 70px;
}

.homeBox2 {
  width: 867px;
  height: 100vh;
  padding-left: 100px;
}

.homeBox2Pic {
  padding-top: 150px;
}

.homeDownButton1 {
  position: absolute;
  top: 29%;
  left: 48.75%;
  
}

/* HOMEMID */
.homeSection2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;

}

.homeBox3 {
  width: 835px;
  height: 62px;
  position: relative;
  bottom: 23%;
  right: 22%;
  display: flex;
  flex-direction: column;
}

.homeHeader2 {
  top: 40px;
  padding-bottom: 30px;
}

.homeSub2 {
  top: 40px;
}

.homePillars {
  display: flex;
  flex-direction: row;
  height: 87px;
  width: 1500px;
  justify-content: space-around;
}

.homePillarBox {
  display: flex;
  flex-direction: column;
  width: 266px;
}

.homePillarsButton {
  position: relative;
  top: 27%;
  right: 39%;
}

.homeDownButton2 {
  position: relative;
  top: 30%;
}

/* HOMEBOTTOM */
.homeHeader3 {
  width: 800px;
  text-align: center;
  margin-bottom: 30px;
}

.homeSub3 {
  width: 800px;
  text-align: center;
  margin-bottom: 50px;
}


/* FONTS */
.header1 {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 107px;
}
.header2{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 75.9px;
}
.header3 {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60.72px;
}
.subtitle1 {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 43.01px;
}
.body2 {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
}
.body4 {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
}