.container {
  display: block;
}

/* New */
.topSectionContainer {
  background-color: #F5F5F5;
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

.pillarContainer {
  width: 100%;
  height: 92vh;
  background-color: #E6E9EC;
  /* position: sticky;
  top: 0.25rem; */
}

.projectsContainer {
  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  /* position: sticky;
  top: 0.25rem; */
}

.homePageTitle {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100.5%;
  color: #212121;
  padding-top: 100px;
}

.homePageSubTitle {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  font-feature-settings: 'case' on;
  color: #212121;
}
