.navbar {
    display: flex;
    align-items: center;
    background: #212121;
    justify-content: space-between;
}

.navbarNavigation {
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 20vw;
}

.navbarNavigationItems {
    margin: 1.5vw; /* 1.5vw */
    color: #fbfbfb;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Be Vietnam Pro';
    
    
}

.navbarTitle {
    margin-left: 20vw; /* 3vw */
    color: #fbfbfb;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 61px;

}