.navbar {
    display: flex;
    align-items: center;
    background: #000000;
    justify-content: space-between;
}

.navbarNavigation {
    justify-content: space-between;
    align-items: flex-start;
}

.navbarNavigationItems {
    margin: 1.5vw;
    color: #ffffff;
}

.navbarTitle {
    margin-left: 3vw;
    color: #ffffff;
}

.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    background-color: #ff0000;
}